html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #f0f9ff; 
}
.all {
  text-align: center;
  margin-top: 10%;
  color: #f0f9ff;
}
#image {
  border-radius: 20%;
  width: 200px;
  height: 200px;
  border: 3px solid white;
  box-shadow: 0px 0px 10px 3px white;
}
.text {
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  margin: 0px;
  text-shadow: 0px 0px 4px gray;
}
.name {
  font-size: 28px;
  margin-bottom: 14px;
}
.last {
  margin-bottom: 7px;
}
.all button {
  padding: 6px 15px;
  border-radius: 20px;
  margin-bottom: 8px;
  background-color: white;
  border: 3px solid white;
  color: white;
  cursor: pointer;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  margin-top: 3px;
  box-shadow: 0px 0px 10px 3px white;
  color: #8f8f8f;
  margin-left: 3px;
}
.all button:hover {
  color: gray;
  background-color: white;
  border: 3px solid white;
  box-shadow: none;
}